.payContent{
    width: 98vw;
    margin: 0 .5rem;
    height: auto;
    /* border: 2px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -7rem;
}

.payChild{
    margin-top: 15rem;
    gap: 1rem;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 2px solid #000; */
}

.firstColum,.secondColum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.btnDisplay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2rem 0;
}

.btnGreen{
    font-weight: bold !important;
    background-color: #046a39 !important;
}